@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

body {
  padding-left: 5px;
}

.inputs input,
.inputs label,
.inputs select {
  display: block;
  margin-left: 10px;
  margin-bottom: 4px;
}
#calculate {
  margin-top: 10px;
  font-size: large;
}

i {
  margin-left: 2px;
}

span {
  display: none;
  color: rgb(138, 138, 138);
}
